/*TODO:*/
.wrap {
  height: 100vh;
  width: 60%;
  bottom: 0;
  border: 8px solid red;
  z-index: 23;
  position: fixed;
}

.backBtn {
  border: 2px solid black;
}
.items {
  /* border: 2px solid black; */
}

.buttonInactive {
  background-color: gray;
}
.buttonActive {
  background-color: red;
}
@media (max-width: 768px) {
  /*icon replaces it @ MobileNavbar*/
  .mobile {
    display: none;
  }
}
