.wrap {
  min-height: calc(100vh - 2.5em);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  text-align: center;
}
.inputs {
  height: 50vh;
}
