.wrap {
  position: absolute;
  top: 1em;
  left: 1em;
  position: fixed;
  padding: 0;
  margin: 0;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  background-color: transparent;
}
.icon {
  background-color: transparent;
}
