.wrap {
  width: 100%;
}
.wrap textarea {
  border: 1px solid var(--inactive);
  border-radius: 10px;
  overflow: hidden;
  padding: 1em;
  width: 100%;
}

.wrap textarea:focus {
  border: 1px solid var(--black);
}
