.wrap {
  min-height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero {
  text-align: center;
}
.hero h1 {
  padding: 0.5em;
}

.tech {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.content {
  width: 100%;
}
