.wrap {
  border: 2px solid red;
  min-height: 2em;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1em;
  font-weight: 900;
  gap: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
