.wrap {
  min-height: 2.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1em;
  font-weight: 900;
  gap: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  padding: 0.2em;

  /*sidebar is on 23*/
  z-index: 22;
}
.items {
  /* min-width: 50%; */
  display: flex;
  justify-content: space-around;
}
