.wrap {
  min-height: 2em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1em;
  font-weight: 900;
  gap: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 22;
}
.items {
  min-width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  cursor: pointer;
}
