.wrap {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: calc(100vh - 2.5em);
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.projects h2 {
  padding: 0.3em;
}
