.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.expand {
  width: 100%;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 800ms;
}
.show {
  width: 100%;

  grid-template-rows: 1fr;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: hidden;
}

@media (hover: hover) {
  .btn:hover + .expand {
    grid-template-rows: 1fr;
  }
}
