.wrap {
  border: 2px solid black;
}
.expand {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 800ms;
}
.content {
  overflow: hidden;
}
.show {
  grid-template-rows: 1fr;
}

@media (hover: hover) {
  .btn:hover + .expand {
    grid-template-rows: 1fr;
  }
}
