.wrap {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}
.hero {
  display: flex;
  align-items: center;
  gap: 1em;
}
.hero h5 {
  color: var(--inactive);
}
.children > * {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 1.44em;
  padding: 0.5em;
  border-left: 5px solid var(--inactive);
  width: 80%;
}
