.wrap {
  display: flex;
  height: 100%;
}
.wrap span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.button {
  cursor: pointer;
  background-color: var(--inactive);
  color: var(--background);
  transition: background-color 800ms;
  text-align: center;
  padding: 0.3em;
}
.active {
  background-color: var(--black);
}
@media (hover: hover) {
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
}
